<h3>Code Challenge</h3>
@if (takeChallenge)
{
    <MatButton OnClick="ChangePuzzle" Label="New Puzzle"></MatButton>
}
@if (isChallengeSucceed)
{
    <Animation Effect="@Effect.Flash" Speed="@Speed.Slow" IterationCount="500">
        <MatH3 Style="color:blue">Success!</MatH3>
    </Animation>
}
@if (isChallengeFail)
{
    <MatH3 Style="color:red">Fail!</MatH3>
}
@if (!isChallengeReady)
{
    <SpinKitRotatingPlane />

}
@if (!takeChallenge && isChallengeReady)
{
    <ChallengeSelect CodeChallenges="CodeChallenges" OnPuzzleChanged="HandlePuzzleChanged" />
    <br />
    @if (selectedChallenge != null)
    {
        <MatButton Raised="true" Label="Solve" OnClick="SolveChallenge"></MatButton>
    }

}
@if (isCodeCompiling)
{
    <hr />
    <MatH4 Class="text-center" Style="color:blue">Executing...</MatH4>
}

@if (takeChallenge)
{

    <MatButton Icon="input" OnClick="SubmitCode" Raised="true">Submit Solution</MatButton>
    <MatButton Style="font-size:.7em" @onclick="ShowAnswer">Give Up? Get a solution</MatButton>

    <hr />
    <BlazorMonaco.MonacoEditor CssClass="editor" @ref="Editor" Id="puzzleCsharp"
                               ConstructionOptions="EditorOptionsPuzzle"
                               OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu" />

}

