<h3>Code Challenge</h3>
@if (takeChallenge)
{
    <MatButton OnClick="ChangePuzzle" Label="New Puzzle"></MatButton>
}
@if (isPuzzleSucceed)
{
    <MatH3>Success!</MatH3>
}
@if (isPuzzleFail)
{
    <MatH3 Style="color:red">Fail!</MatH3>
}
@if (!takeChallenge)
{
    <ChallengeSelect OnPuzzleChanged="HandlePuzzleChanged" />
}
<MatButton Raised="true" Label="Solve" OnClick="SolveChallenge"></MatButton>
@if (takeChallenge)
{
    <p style="font-size: small; color:red">There is currently a bug that prevents the same Code Editor from loading multiple times. Resolution is pending. Until this is resolved, you will need to refresh the browser if the editor below is blank</p>
    <MatButton Icon="input" OnClick="HandleCodeSubmit" Raised="true">Submit Solution</MatButton>
    <hr/>
    <BlazorMonaco.MonacoEditor CssClass="editor" @ref="Editor" Id="puzzleCsharp"
                               ConstructionOptions="EditorOptionsPuzzle"
                               OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu"/>
    @*<MonacoEdit IsPuzzle="true" OnCodeSubmit="HandleCodeSubmit" CodeSnippet="@CodeSnippet" />*@
}

