
@inherits ComponentBase
<div class="text-left">
    <p style="font-size: small; color:red">There is currently a bug that prevents the Code Editor from loading multiple times.
       Resolution is pending. Until this is resolved, you will need to refresh the browser if the editor below is blank</p>
    <MatDivider/>
    <MatButton Icon="input" OnClick="SubmitCode" Raised="true">Compile and run</MatButton>
    <hr/>
    <BlazorMonaco.MonacoEditor CssClass="editor" @ref="Editor" Id="learnCsharp"
                               ConstructionOptions="EditorOptionsRoslyn"
                               OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu"/>
</div>
